<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="csgoDirectory" value="C:\Program Files (x86)\Steam\steamapps\common\Counter-Strike Global Offensive"/>
    <add key="archiveDirectory" value="C:\Users\%username%\Documents\panorama\panorama"/>
    <add key="outputDirectory" value="C:\Users\%username%\Documents\panorama\bin"/>
  </appSettings>
</configuration>